<button>分享</button>
<%= link_to "用户信息", subscribers_path %>
<%= content_for :weixin_api do %>
  <!-- 转发朋友提示信息 -->
  <script type="text/javascript">
    wx.ready(function () {
      wx.onMenuShareAppMessage({
        title: "哈哈哈哈哈哈",
        desc: "",
        link: "",
        imgUrl: ""
      });
    });
    wx.onMenuShareTimeline({
      title: "xxxxx",
      link: "",
      imgUrl: "",
    });
  </script>
<% end %>